/doc

/vendor/
Iran/vendor/

composer.lock
composer.phar

.DS_Store
Thumbs.db

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.log

.env
.env.*

cache/
tmp/
Iran/tmp/
Iran/cache/

.phpunit.result.cache

*.bak
*.tmp
*.swp